<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<form action="#" th:action="@{/postmat/}" th:object="${material}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" th:value="*{name}" /></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}" th:value="*{price}" /></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input type="text" th:field="*{location}" th:value="*{location}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>
