<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTO2</title>
</head>
<body>
<ol>
    <li><a href="login">Login page</a></li>
    <li><a href="user/user1">User page</a></li>
    <li><a href="register">Register</a></li>
    <li><a href="users">Users</a></li>
    <li><a href="material/mat1">Material</a></li>
    <li><a href="material/newmaterial">New material</a></li>
    <li><a href="1/friends">Friends</a></li>
    <li><a href="material/1/connections">Material connections</a></li>
    <li><a href="project/1">Project page</a></li>
<!--    <li><a href="1/friends">Friends</a></li>
    <li><a href="1/friends">Friends</a></li>-->

</ol>

</body>
</html>
