<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged in</title>
</head>
<body>

<ol>
    <li><a href="user/user1">User page for user1</a></li>
    <li><a href="users">Users list</a></li>
    <li><a href="friends">Friends</a></li>
    <li><a href="material/mat1">Material mat1</a></li>
    <li><a href="material/1/connections">Material connections</a></li>
    <li><a href="material/newmaterial">New material (Not authorized)</a></li>
    <li><a href="project/1">Project page for id 1</a></li>
    <li><a href="project/new">New project</a></li>
    <li><a href="project/all/7">Get all projects</a></li>
    <li><a href="project/current/7">Get current projects</a></li>
    <li><a href="friends">Your friends</a></li>
    <br />
    <li><a href="getsession">Get session</a></li>
    <li><a href="logout">Logout</a></li>
    <!--    <li><a href="1/friends">Friends</a></li>
        <li><a href="1/friends">Friends</a></li>-->
</ol>

</body>
</html>
